@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;1,400;1,500&family=PT+Sans+Narrow:wght@400;700&family=Poppins:ital,wght@0,100;0,300;1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    /* background: rgb(0, 236, 255);
    background: linear-gradient(90deg, rgba(0, 236, 255, 1) 0%, rgba(255, 179, 0, 1) 45%, rgba(0, 0, 0, 1) 75%); */

}

main {
    background-color: aliceblue;
    /* background-image: URL(https://i.pinimg.com/736x/4c/dd/a2/4cdda285a3aa795f7701f18bff21e165.jpg);
    background-size: 20%; */
    margin: 0 auto;
    border: 1px hidden red;
    width: 80vh;
    height: 80vh;
    margin-top: 4em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    -webkit-box-shadow: 0px 0px 27px -2px #000000;
    box-shadow: 0px 0px 27px -2px #000000;

}

h1 {
    border: 1px hidden blue;
    padding-top: 0.4em;

}

div {

    margin-top: 1em;
    border: 1px hidden black;
    width: 50%;
    height: 40vh;
    transform: translate(50%);
}

p {
    border: 1px hidden pink;
    margin-top: 1.2em;
    font-size: 1em;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 500%;
    box-shadow: 0px 0px 5px #000000;
}

#result {
    font-size: 2rem;
    
    animation: spin 1s linear 0s infinite ;
    animation-direction: alternate;
}

@keyframes spin {
    to{transform: scale(1.1);}
}